* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 16px 24px;
    position: sticky;
    top: 0;    
    z-index: 50;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.navbar nav .button-menu img {
    width: 24px;
    height: 24px;
}

.section_container {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 700px;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.left {
    justify-content: start;
    align-items: start;
    text-align: left;
    margin: 0 auto 0 0;
}

.right {
    justify-content: end;
    align-items: center;
    text-align: right;
    margin: 0 0 0 auto;
}


.section-spacing {
        padding: 0 16px;
}

.overlay {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    min-height: 700px;
    background: rgba(0, 0, 0, 1);
}

.section_container .section_content {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: white;
    max-width: 700px;
    padding: 32px;
}

.section_container .section_content .section_content_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.section_container .section_content .section_content_header h1 {
    font-size: 2rem;
    font-weight: 600;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    
}

.whatsapp-button img {
    width: 80%; 
    height: auto; 
}

.section_container .backdrop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.section_container .backdrop-op-50 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0.50;
}

.link {
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    background: #aa281e;
    padding: 8px 24px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 4);
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;
    max-width: 200px;
}

.highlight {
    color: #b9342a;
}

.highlight-dark {
    color: black;
}

.headline {
    position: relative; 
    background-color: #d15349; 
    text-align: center;
    padding: 20px;
    border-radius: 8px; 
    color: white;
    margin: 40px auto;
    max-width: 700px;
    width: 100%;
}

.headline h1 {
    font-size: 1.4rem;
    font-weight: 700;
}

.section-title {
    font-size: 2rem;
}

.section-subtitle {
    font-size: 1.8rem;
}

.description {
    font-size: 1.4rem;
}


.section-lists-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1350px;
    flex-direction: column;
    margin: 2rem auto;
}

.section-lists {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    justify-content: space-between;
    width: 100%;
    gap: 0 4rem;
    padding: 0 1rem;

    max-width: 1350px;
}

.section-list-container {
    display: flex;
    flex-direction: column;
    gap: 12px;    
    margin-top: 2rem;
}

.section-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section-list-wrapper .section-title-list {
    font-size: 1rem;
}

.section-list-wrapper ul {
    margin-left: 12px;
    list-style-type: none;
}

.parallelogram {
    transform: skew(-20deg);
    display: inline-block;
    position: relative;
    color: white !important
}

.parallelogram span {
    display: inline-block;
    transform: skew(20deg);
    font-size: 1.4rem;
    color: white !important;
}

.map {
    width: 100%;
    height: 800px;
    margin: 6rem auto;
}

.map-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    margin: 4rem auto;
    background: white;
    padding: 2rem;
}


.contact-form-wrapper {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.contact-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px;
    padding: 2rem 0;

}

.contact-form button {
    margin-top: 2rem;
}

.contact-form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.contact-form button  {
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #de2e21;
    color: #fff;
    cursor: pointer;
}

.contact-form button  button i {
    margin-left: 5px;
}

.success,
.error {
  text-align: center;
}

.success {
  color: greenyellow;
}

.error {
  color: tomato;
}

.BSnch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px; 
}

.sc-eHgmQL {
    width: calc(30% - 5px); 
    margin-bottom: 10px; 
}

.bg-red {
    background-color: #de2e21;
    color: #fff;
    padding: 6px 12px; 
    margin-bottom: 5px; 
    position: relative;
}

.bg-red span {
    color: #000;
}

.bg-red::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -2px;
    width: 2px;
    background-color: #000;
}

.bphPrq div {
    margin-bottom: 5px; /* Reduzindo a margem inferior */
}

.bphPrq h5 {
    margin-top: 0;
}

.rodape {
    background-color: #808080; /* Cinza claro */
    padding: 20px 0; /* Espaçamento interno */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 30px; /* Ajuste o espaçamento horizontal conforme necessário */
}

.logo-contatos {
    display: flex;
    align-items: flex-start; /* Alinha os itens ao topo */
}

.logo img {
    max-width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

.contatos {
    color: #FFFFFF; /* Define a cor do texto como branco */
    margin-left: 20px; /* Ajusta o espaçamento entre o logo e os contatos */
}

.contatos p {
    margin: 10px 0;
}

.emphasis {
    font-size: 1.0em; /* Ajusta o tamanho do strong para dar mais ênfase */
}

.redes-sociais {
    display: flex;
}

.icone-social {
    color: #FFFFFF; /* Define a cor do ícone como branco */
    margin-right: 10px; /* Ajuste o espaçamento entre os ícones conforme necessário */
}


@media screen and (max-width: 1080px) {
    .section-lists {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 680px) {
    .section-lists {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 728px) {
    .footer-container {
        flex-direction: column; 
        padding: 30px; 
        text-align: center; 
    }

    .logo-contatos {
        margin-bottom: 20px; 
    }

    .contatos {
        margin: 10px auto; 
    }

    .redes-sociais {
        justify-content: center; 
    }
}